.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 20px;
  border-bottom: 1px solid #d3d3de;
}

.header img {
  width: 200px;
  height: 106px;
}
.header h1 {
  font: 700 30px Archivo;
  margin-top: 40px;
  color: #6c757d;
}

.header #add-link {
  padding: 10px;
  border-radius: 8px;
  background: #d3d3de;
}
