li,
a {
  font: 500 16px Poppins;
  color: #333333;
  text-decoration: none;
}

header {
  height: 50px;
  display: flex;
  background: #c71f37;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 100px;
}
.nav-links li a {
  color: #f4f3ee;
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #ced4da;
}
.nav-links li button {
  display: flex;
  align-items: center;
  background: transparent;
  font: 500 16px Poppins;
  border: none;
  color: #f4f3ee;
}
.nav-links li button svg {
  text-align: center;
  margin-left: 8px;
}
.nav-links li button:hover {
  color: #ced4da;
}
.header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 20px;
  border-bottom: 1px solid #d3d3de;
}
.header h1 {
  font: 700 30px Archivo;
  margin-top: 40px;
  color: #6c757d;
}
.header #add-link {
  padding: 10px;
  border-radius: 8px;
  background: #d3d3de;
}
